body {
	background: #e8e8e8;
}
header {
	font-family: "微软雅黑";
	font-size: 15px;
}
.mui-bar .mui-bar-nav {
	background: #ffa726;
}
.image img {
	width: 100%;
}
#yaoyiyao {
	width: 80%;
	height: 60px;
	font-family: "微软雅黑";
	font-size: 20px;
	display: block;
	margin: 0 auto;
}
.btnicon a span {
	border-radius: 50%;
	padding: 8px;
	color: #fff;
	background: #ffa726;
}
.classify img {
	width: 100%;
	border: 8px solid #ffffff;
}
